{% extends 'page/auth/base.html' %}

{% block title %}Verify user{% endblock title %}

{% block content %}
<form action="POST">
<p>Password</p>
<input type="password" name="password">
<br />
<p>Retype Password</p>
<input type="password" name="password_retype" >
<br />
<input type="hidden" token={{token}}>
<button>Submit</button>
</form>
{% endblock content %}
