<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
            font-family: myFont;
            src: url(https://letsshake.app/fonts/HelveticaNeueLTStd-UltLt.otf);
        }

        @font-face {
            font-family: myFont-Medium;
            src: url(https://letsshake.app/fonts/HelveticaNeue-Medium.otf);
        }

        .shake-body {
            font-family: 'myFont';
            margin: 0px;
        }

        .shake-letter {
            margin-bottom: 70px;
            padding-left: 20px;
            padding-right: 10px;
        }

        .shake-logo {
            background-color: #D62027;
            height: 160px;
            padding-right: 30px;
        }

        .shake-letter-subject {
            font-size: 27px;
            color: #D62027;
            margin-top: 12px;
            margin-bottom: 14px;
        }

        .shake-letter-message {
            font-size: 17px;
            margin-top: 0px;
        }

        .shake-signature {
            padding-left: 20px;
        }

        .shake-bold {
            font-family: myFont-Medium;
            font-weight: bold;
        }
    </style>
<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script>