{% extends 'page/auth/base.html' %}

{% block title %}Deleted account{% endblock title %}

{% block content %}
<h1> Success </h1>

<p>Hi {{user_name}}!<p>
<p>You account is deleted. See you!<p>
{% endblock content %}
