{% extends 'page/auth/base.html' %}

{% block title %}Verify user{% endblock title %}

{% block content %}
<h1> Failed </h1>

<p>Your request has expired!<p>
<p>We have just sent you a new request to your email.<p>
{% endblock content %}
