{% extends 'page/auth/base.html' %}

{% block title %}Verify user{% endblock title %}

{% block content %}
<h1> Success </h1>

<p>Welcome {{user_name}}!<p>
<p>Now you can log into the app.<p>
{% endblock content %}
